*, html, body{
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: rgb(3, 125, 3);
}
.ulheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 70%;
    padding-left: 15%;
}
.navheader {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero{
        background-image: url(./Assets/domesticchicken_0.jpg);
        background-size: cover;
        padding-bottom: 50px;
        height: 70vh;
        object-fit: contain;
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        gap: 30px;
}
.herodiv{
    justify-content: center;
    inline-size: auto;
    padding-bottom: 20%;
    color: white;
    margin-left: 80%;
}

.agricdiv{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    width: 60%;
    margin-top: -20%;
}
.headquater{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}
.primary{
    padding-left: 10%;
    padding-right: 10%;
    font-style: oblique;
}
.poultry{
    padding-left: 13%;
    padding-right: 13%;
}
.link{
    padding-left: 10%;
    padding-right: 10%;
}
.icons{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
}

